*{
    margin: 0;
    padding: 0;
}
body {
  background: url("./images/rDJegQJaCyGaYysj2g5XWY.jpg");
}
.heading {
  height: 20%;
  display: flex;
}

h1 {
  font-size: 55px;
  margin: 0;
}

#bg-shadow {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.img {
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 30px;
  
}
#login {
  padding: 30px;
  width: 60%;
  text-align: right;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80%;
}
.signin {
  background: red;
  padding: 8px 14px;
  margin-right: 12px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}
p {
  margin: 13px;
  font-weight: 400;
}
.p1 {
  font-size: 28px;
}
.p2 {
  font-size: 23px;
}
.register {
  background: red;
  padding: 8px 14px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}